# Model: Desperado v0

---
# Load data & libraries

In [1]:
# TOP VERSION
MODEL_NAME = "desperado"
VERSION = 0

In [2]:
# import dependencies
import pandas as pd
from numerapi import NumerAPI
from utils.api_keys import PUBLIC_ID, SECRET_KEY

In [3]:
# instantiate numerai api
napi = NumerAPI(public_id=PUBLIC_ID, secret_key=SECRET_KEY)
current_round = napi.get_current_round()
print(f"Current round #: {current_round}")

Current round #: 316

In [4]:
# read val predictions from models
foxhound_val = pd.read_csv(f"predictions/dh_foxhound_v0_val_preds.csv")
deadcell_val = pd.read_csv(f"predictions/dh_deadcell_v0_val_preds.csv")
cobra_val = pd.read_csv(f"predictions/dh_cobra_v0_val_preds.csv")
beautybeast_val = pd.read_csv(f"predictions/dh_beautybeast_v0_val_preds.csv")
skulls_val = pd.read_csv(f"predictions/dh_skulls_v0_val_preds.csv")

print(f"""
    Foxhound predictions   : {len(foxhound_val)}
    Deadcell pedictions    : {len(deadcell_val)}
    Cobra pedictions       : {len(cobra_val)}
    BeautyBeast pedictions : {len(beautybeast_val)}
    Skulls pedictions      : {len(skulls_val)}
    """)

    Foxhound predictions   : 2203644
    Deadcell pedictions    : 2203644
    Cobra pedictions       : 2203644
    BeautyBeast pedictions : 2203644
    Skulls pedictions      : 2203644

In [5]:
# read live predictions from models
foxhound_live = pd.read_csv(f"predictions/dh_foxhound_v0_live_preds_{current_round}.csv")
deadcell_live = pd.read_csv(f"predictions/dh_deadcell_v0_live_preds_{current_round}.csv")
cobra_live = pd.read_csv(f"predictions/dh_cobra_v0_live_preds_{current_round}.csv")
beautybeast_live = pd.read_csv(f"predictions/dh_beautybeast_v0_live_preds_{current_round}.csv")
skulls_live = pd.read_csv(f"predictions/dh_skulls_v0_live_preds_{current_round}.csv")

print(f"""
    Foxhound predictions   : {len(foxhound_live)}
    Deadcell pedictions    : {len(deadcell_live)}
    Cobra pedictions       : {len(cobra_live)}
    BeautyBeast pedictions : {len(beautybeast_live)}
    Skulls pedictions      : {len(skulls_live)}
    """)

    Foxhound predictions   : 5261
    Deadcell pedictions    : 5261
    Cobra pedictions       : 5261
    BeautyBeast pedictions : 5261
    Skulls pedictions      : 5261

---
# Create ensemble prediction

In [6]:
# model name
model_name = f"dh_{MODEL_NAME}_v{VERSION}"
model_name

'dh_desperado_v0'

In [7]:
# average val preds
desperado_val = foxhound_val.merge(
    right=deadcell_val, how='inner', on="id", suffixes=('', '2')).merge(
    right=cobra_val, how='inner', on="id", suffixes=('', '3')).merge(
    right=beautybeast_val, how='inner', on="id", suffixes=('', '4')).merge(
    right=skulls_val, how='inner', on="id", suffixes=('', '5'))

desperado_val.columns = ["id", "foxhound", "deadcell", "cobra", "beautybeast", "skulls"]
desperado_val["prediction"] = (
    desperado_val["foxhound"] + 
    desperado_val["deadcell"] + 
    desperado_val["cobra"] +
    desperado_val["beautybeast"] +
    desperado_val["skulls"]
    ) / 5
desperado_val.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2203644 entries, 0 to 2203643
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   id           object
 1   foxhound     float64
 2   deadcell     float64
 3   cobra        float64
 4   beautybeast  float64
 5   skulls       float64
 6   prediction   float64
dtypes: float64(6), object(1)
memory usage: 134.5+ MB

In [8]:
# average live preds
desperado_live = foxhound_live.merge(
    right=deadcell_live, how='inner', on="id", suffixes=('', '2')).merge(
    right=cobra_live, how='inner', on="id", suffixes=('', '3')).merge(
    right=beautybeast_live, how='inner', on="id", suffixes=('', '4')).merge(
    right=skulls_live, how='inner', on="id", suffixes=('', '5'))

desperado_live.columns = ["id", "foxhound", "deadcell", "cobra", "beautybeast", "skulls"]
desperado_live["prediction"] = (
    desperado_live["foxhound"] + 
    desperado_live["deadcell"] + 
    desperado_live["cobra"] +
    desperado_live["beautybeast"] +
    desperado_live["skulls"]
    ) / 5
desperado_live.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5261 entries, 0 to 5260
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5261 non-null   object
 1   foxhound     5261 non-null   float64
 2   deadcell     5261 non-null   float64
 3   cobra        5261 non-null   float64
 4   beautybeast  5261 non-null   float64
 5   skulls       5261 non-null   float64
 6   prediction   5261 non-null   float64
dtypes: float64(6), object(1)
memory usage: 328.8+ KB

In [9]:
# check val file
desperado_val.head()

,id,foxhound,deadcell,cobra,beautybeast,skulls,prediction
0,n000101811a8a843,0.129369,0.083149,0.021469,0.113878,0.167100,0.102993
1,n001e1318d5072ac,0.439908,0.511116,0.757530,0.829601,0.809236,0.669478
2,n002a9c5ab785cbb,0.834553,0.442237,0.753046,0.823740,0.417082,0.654132
3,n002ccf6d0e8c5ad,0.929264,0.899298,0.966960,0.997238,0.967952,0.952142
4,n0051ab821295c29,0.169530,0.265021,0.082918,0.142973,0.364021,0.204893

In [10]:
# check live file
desperado_live.head()

,id,foxhound,deadcell,cobra,beautybeast,skulls,prediction
0,n0006843375753e1,0.135145,0.139897,0.006273,0.356396,0.091427,0.145828
1,n0010bd0421b85ac,0.073180,0.739593,0.739973,0.412469,0.794526,0.551948
2,n002700a0e788fec,0.744725,0.241969,0.896027,0.647405,0.882342,0.682494
3,n002ad486d22e61c,0.435278,0.768105,0.614522,0.968637,0.757651,0.708839
4,n002ecfa1a4d30fa,0.888994,0.140468,0.444212,0.760692,0.489831,0.544839

---
# Save predictions

In [11]:
# save ensemble preds
desperado_val = desperado_val[["id", "prediction"]].set_index("id")
desperado_live = desperado_live[["id", "prediction"]].set_index("id")

desperado_val.to_csv(f"predictions/{model_name}_val_preds.csv")
desperado_live.to_csv(f"predictions/{model_name}_live_preds_{current_round}.csv")